obj/
bin/
ipch/
.vs/
*.opendb
*.sdf
*.user
*.VC.db
/VTS_Bundle*/
/*.lnk

*.exe
*.iobj
*.ipdb
*.pdb
*.log
*.tlog
*.obj
*.pdb
*.idb
*.ilk
*.dll
*.exp
*.lib
*.tmp
Src/libvts/hashes.cpp
/Src/bin64/
/Src/bin/
*.recipe
*.vcxproj.FileListAbsolute.txt
